$main-bg-color : #F2F2F2;

$form-wrapper-bg-color: #FFFFFF;
$form-wrapper-link-color: #4B9CE2;
$form-color: #525252;
$form-button-bg-color: #4B9CE2;
$form-button-color: #FFFFFF;
$form-input-bg-color: #F4F4F4;
$form-forgot-password-color:#B1B1B1;

$header-bg-color: #FFFFFF;
$header-link-color: #4B9CE2;
$header-link-bg-color: #F0F8FF;

$category-tabs-border-color: #E0E0E0;
$category-tabs-active-color: #4B9CE2;
$category-tabs-color: #525252;

$card-bg-color: #FFFFFF;
$card-brand-color: #4B9CE2;
$card-color-color: #3E3E3E;
$card-price-color: #3E3E3E;

$product-detail-bg-color: #FFFFFF;
$product-detail-title-color: #555555;
$product-detail-text-color:  #525252;
$product-detail-offer-btn-color: #FFFFFF;
$product-detail-offer-btn-bg-color: #4B9CE2;
$product-detail-buy-btn-color:#4B9CE2;
$product-detail-buy-btn-bg-color: #F0F8FF;
$product-detail-overview-color: #555555;
$product-detail-issold-color: #FAAD60;
$product-detail-issold-bg-color: #FFF0E2;

$modal-bg-color: rgba(75, 156, 226, 0.7);
$modal-content-bg-color: #FFFFFF;
$modal-content-title-color: #525252;
$modal-content-text-color: #555555;

$upload-title-color: #525252;